<div class="row ">
    <div class="col-md-4 ">

        <ul class="list-group mt-4 ">
          <li class="list-group-item"><%= note.title %></li>
          <li class="list-group-item"><%= note.date %></li>
          <li class="list-group-item">
            <textarea name="" id="" cols="150" rows="10" disabled>
              <%= note.note %>
            </textarea>
          </li>
          
          <div>
            <a href="/update/<%= note.title %>" class="btn btn-primary badge">Edit</a>
          </div>
          <div>
            <a href="/delete/<%= note.title %>" class="btn btn-danger badge" onclick="return confirm('yakin?')">Delete</a>
          </div>
        </ul>

    </div>
  </div>